# ignore the following directories
.ssh/
.vagrant/

# ignore all modules (except exclamated exceptions)
modules/*
puppet/*
!modules/puppet/
!modules/vagrant_puppetserver/
!puppet/hieradata/*
!puppet/hieradata/default.yaml
!puppet/hiera.yaml